#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Quiz Css*/
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background-color: #f4f4f4;
}
li:hover{
  background-color: #ddd;
}
.selected{
  background-color: #b3e5fc;
}
.btn{
  background-color: #0dbc72;
  border-radius: 20px;
  width: 20%;
  cursor: pointer;
}
.btn-disable{
  border-radius: 20px;
  width: 20%;
  cursor: not-allowed;
}
